# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Databricks
.databricks/

# Secrets / local config
.env
config/project_config.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test/build
dist/
build/
*.egg-info/
